.loginWrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.formWrapper {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.loginTitle {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 24px;
}

.error {
    padding-top: 2px;
    font-size: 14px;
    color: red;
}

.loginButton {
    display: flex;
    justify-content: center;
}
